<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>License Marketplace System</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

    <header>
        <h1>License Marketplace System</h1>

    </header>

    <div class="main-content">
        <h2>Nội dung chính của trang</h2>
        <p>Đây là nơi chứa nội dung của bạn. Header sẽ luôn dính ở trên và Footer sẽ luôn dính ở dưới.</p>
        <p>Hãy thử cuộn trang xuống để xem hiệu ứng.</p>
<!--        <div th:if="${mostPurchasedProduct}">-->
<!--            <h2>-->
<!--                Tên sản phẩm xịn xò: <span th:text="${mostPurchasedProduct.name}"></span>-->
<!--            </h2>-->
<!--        </div>-->
<!--        <div th:unless="${mostPurchasedProduct}">-->
<!--            <p>Chưa có dữ liệu về sản phẩm bán chạy.</p>-->
<!--        </div>-->

        <div class="placeholder">
            Cuộn xuống nữa...
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Smile Dev. All rights reserved.</p>
    </footer>
</body>
</html>
